.title {
	height: 49px;
	width: 393px;
    color: #FFFFFF;
    font-variant-caps: all-petite-caps;
    font-family: 'Montserrat', light;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 49px;
	text-align: center;
}
